In [2]:
import pandas as pd

In [3]:
noise = pd.read_csv('./noiseCensusTract.csv')
noise.drop(noise.filter(regex="Unname"),axis=1, inplace=True)
noise['created_date'] = pd.to_datetime(noise['created_date'])
noise['hour'] = noise['created_date'].dt.strftime('%H')

/var/folders/4s/flrct1tj221clstzl2528_hc0000gn/T/ipykernel_26661/490841662.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  noise = pd.read_csv('./noiseCensusTract.csv')

In [4]:
noise.columns

Index(['unique_key', 'created_date', 'complaint_type', 'location_type',
       'latitude', 'longitude', 'incident_zip', 'incident_address', 'date',
       'month', 'day', 'time', 'geometry', 'BoroName', 'CT2020', 'BoroCT2020',
       'NTAName', 'NTA2020', 'CDTA2020', 'CDTANAME', 'GEOID', 'Shape_Leng',
       'Shape_Area', 'hour'],
      dtype='object')

In [4]:
noise_type = noise[['unique_key', 'complaint_type','month','hour','BoroName']]
noise_type.head(3)

   unique_key                       complaint_type  month hour   BoroName
0    48545187      Construction Before/After Hours      1   00  Manhattan
1    48545171                               Alarms      1   01  Manhattan
2    48548407  air condition/ventilation equipment      1   01  Manhattan

In [5]:
noise_type_sorted = noise_type[['complaint_type','unique_key']].groupby(['complaint_type']).count().reset_index()
noise_type_sorted = noise_type_sorted.rename(columns = {'unique_key': 'noise_count'})
noise_type_sorted =  noise_type_sorted.sort_values(by = 'noise_count', ascending=False)
noise_type_sorted

                         complaint_type  noise_count
9                      Loud Music/Party       457970
1                      Banging/Pounding        91071
4                       Car/Truck Music        57047
10                         Loud Talking        50595
3                        Car/Truck Horn        18457
5       Construction Before/After Hours        16137
16                              Vehicle        13645
6                Construction Equipment         6678
2                           Barking Dog         6111
0                                Alarms         4811
17  air condition/ventilation equipment         4758
11                      Loud Television         4571
8                        Jack Hammering         2193
7                       Ice Cream Truck         1315
18                  lawn care equipment          924
15                Private Carting Noise          844
13                        Other Animals          268
12                  Manufacturing Noise          148
14                               Others            5

In [6]:
noise_type_top_list = ['Loud Music/Party', 'Banging/Pounding', 'Car/Truck Music','Loud Talking']
noise_type = noise_type[noise_type['complaint_type'].isin(noise_type_top_list)]

In [7]:
noise_type_manhattan = noise_type[noise_type['BoroName'] == 'Manhattan']
noise_type_brooklyn = noise_type[noise_type['BoroName'] == 'Brooklyn']
noise_type_queens = noise_type[noise_type['BoroName'] == 'Queens']
noise_type_bronx = noise_type[noise_type['BoroName'] == 'Bronx']

In [38]:
noise_type_manhattan.head(3)

       unique_key    complaint_type  month hour   BoroName
44451    48539475      Loud Talking      1   00  Manhattan
44452    48542541  Loud Music/Party      1   00  Manhattan
44459    48546755  Loud Music/Party      1   02  Manhattan

In [8]:
noise_type_count_manhattan = noise_type_manhattan[['complaint_type', 'month', 'hour', 'unique_key']].groupby(['complaint_type', 'month', 'hour']).count().reset_index()
noise_type_count_manhattan = noise_type_count_manhattan.rename(columns = {'unique_key': 'noise_count'})
noise_type_count_manhattan.to_csv("../Data/type/top_noise_type_manhattan.csv")

In [9]:
noise_type_count_brooklyn = noise_type_brooklyn[['complaint_type', 'month', 'hour', 'unique_key']].groupby(['complaint_type', 'month', 'hour']).count().reset_index()
noise_type_count_brooklyn = noise_type_count_brooklyn.rename(columns = {'unique_key': 'noise_count'})
noise_type_count_brooklyn.to_csv("../Data/type/top_noise_type_brooklyn.csv")

In [10]:
noise_type_count_queens = noise_type_queens[['complaint_type', 'month', 'hour', 'unique_key']].groupby(['complaint_type', 'month', 'hour']).count().reset_index()
noise_type_count_queens = noise_type_count_queens.rename(columns = {'unique_key': 'noise_count'})
noise_type_count_queens.to_csv("../Data/type/top_noise_type_queens.csv")

In [11]:
noise_type_count_bronx = noise_type_bronx[['complaint_type', 'month', 'hour', 'unique_key']].groupby(['complaint_type', 'month', 'hour']).count().reset_index()
noise_type_count_bronx = noise_type_count_bronx.rename(columns = {'unique_key': 'noise_count'})
noise_type_count_bronx.to_csv("../Data/type/top_noise_type_bronx.csv")